body {
    margin: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    display: flex;
    width: 320px;
    flex-direction: column;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.sidebar-small {
    display: flex;
    background-color: rgba(0, 3, 155, 0.849);
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 30px;
}

.sidebar-small-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar-big {
    display: flex;
    background-color: rgba(18, 20, 139, 0.849);
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 30px;
}

.content-small {
    display: flex;
    background-color: rgb(105, 125, 240);
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 30px;
}

.content-big {
    display: flex;
    background-color: rgb(230, 230, 230);
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
    border-bottom-right-radius: 30px;
}

.sidebar-big-empty-1 {
    display: flex;
    height: 100px;
}

.sidebar-dashboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px; 
    width: 110px;
}

.sidebar-big-empty-3 {
    display: flex;
    height: 600px;
}

.sidebar-messages {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 110px;
    gap: 10px;
}

.menu {
    width: 40px;
    height: 40px;
}

.house {
    width: 60px;
    height: 40px;
}

.Dashboard {
    height: 20px;
}

.messages {
    width: 60px;
    height: 40px;
}

.m {
    height: 20px;
} 

span {
    font-size: 18px;
    font-weight: bold;
    color: aliceblue;
}

.number {
    display: flex;
    width: 10px;
    height: 20px;
    background-color: red;
    border: 0px;
    color: aliceblue;
}

.search-div {
    display: flex;
    width: 300px;
    justify-content: center;
}

.search {
    width: 200px;
    height: 20px;
    border: 0;
    border-radius: 10px;
    
}

.hi-jane {
    display: flex;
    width: 250px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container-over {
    display: flex;
    flex-direction: row;
    height: 80px;
}

.content-over-empty {
    width: 40px;
}

.content-over {
    display: flex;
    align-items: center;
}

.over {
    color: black;
    font-size: 40px;
}

.user {
    width: 30px;
}

.container-big {
    display: flex;
    flex-direction: row;
    height: 760px;
}

.container-big-1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.container1 {
    background-color: aliceblue;
    height: 350px;
    width: 760px;
    display: flex;
    border-radius: 20px;
    margin: 10px;
}

.container2 {
    background-color: aliceblue;
    height: 350px;
    width: 760px; 
    display: flex;
    border-radius: 20px;
    margin: 10px;
}

.container-big-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.container3 {
    background-color: aliceblue;
    height: 200px;
    width: 780px;
    display: flex;
    border-radius: 20px;
    margin: 10px;
}

.container4 {
    display: flex;
    background-color: aliceblue;
    height: 370px;
    width: 780px;
    border-radius: 20px;
    margin: 10px;
}

.container5 {
    display: flex;
    background-color: aliceblue;
    height: 100px;
    width: 780px;
    border-radius: 20px;
    margin: 10px;
}

@keyframes show-elements {
    0%{
       width: 100px;
    }
    100% {
        width: 320px;
    }
}

@keyframes appear {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        display: none;
        width: 0;
    }
}

.sidebar:hover {
    animation: show-elements 0.5s reverse  forwards ;
}

 .sidebar:hover > .sidebar-big > .sidebar-dashboard {
    animation: appear 0.5s forwards ;
}

.sidebar:hover >  .sidebar-big > .sidebar-messages {
    animation: appear 0.5s forwards;
}

.sidebar:hover > .sidebar-small > .sidebar-small-container > .your {
    animation: appear 0.5s forwards;
 }

 @media only screen and (max-width:760px) {
    .main {
        flex-direction: column; 
    }

    .sidebar {
        flex-direction: row; height: 60px; width: 100vw;
    }

    .content {
        width: 100vw;
    }

    .your { 
        display: none;
    }

    .sidebar-small {
        flex-direction: row; border-top-left-radius: 0px; width: 80px;
    }

    .sidebar-big {
        flex-direction: row; border-bottom-left-radius: 0px; justify-content: flex-start; 
    }

    .sidebar-dashboard {
        transform: scale(0.7);
    }

    .sidebar-small-container {
        transform: scale(0.7);
    }

    .sidebar-messages {
        transform: scale(0.7);
    }

    .search-div {
        transform: scale(0.8);
    }

    .hi-jane {
        transform: scale(0.7);
    }

    .content-small {
        border-top-right-radius: 0px;
    }

    .content-big {
        border-bottom-right-radius: 0px;
    }

    .container-big {
        flex-direction: column;
    }

    .container-big-2 { 
        align-items: center;
    }

    .container1 { 
        width: 300px;height: 150px;
    }

    .container2 { 
        width: 300px;height: 150px;
    }

    .container3 { 
        width: 300px;height: 100px;
    }

    .container4 { 
        width: 300px;height: 100px;
    }

    .container5 { 
        width: 300px;height: 100px;
    }

 }