body {
    margin: 0;
    box-sizing: border-box;
}

.page {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.page__menu {
    display: flex;
    width: 320px;
    flex-direction: column;
}

.page__content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.header-left {
    display: flex;
    background-color: rgba(0, 3, 155, 0.849);
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 30px; 
}


.navigation {
    display: flex;
    background-color: rgba(18, 20, 139, 0.849);
    flex: 1;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 30px;
    align-content: center;
}

.header-right {
    display: flex;
    background-color: rgb(105, 125, 240);
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 30px;
}

.container {
    display: flex;
    background-color: rgb(230, 230, 230);
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
    border-bottom-right-radius: 30px;
}

.navigation__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px; 
    width: 110px;
    padding-top: 100px;
}

.navigation__messages {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 110px;
    gap: 10px;
}

.header__image {
    width: 40px;
    height: 40px;
}

.navigation__image {
    width: 60px;
    height: 40px;
}

.navigation__title {
    height: 20px;
}

.messages__image {
    width: 60px;
    height: 40px;
}

.messages__title {
    height: 20px;
} 

span {
    font-size: 18px;
    font-weight: bold;
    color: aliceblue;
}

.messages__number {
    display: flex;
    width: 10px;
    height: 20px;
    background-color: red;
    border: 0px;
    color: aliceblue;
}

.header__search-input {
    width: 200px;
    height: 20px;
    border: 0;
    border-radius: 10px;
    margin-left: 30px;
}

.header-user {
    display: flex;
    width: 250px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container__head {
    display: flex;
    flex-direction: row;
    height: 80px;
}


.container__head {
    display: flex;
    align-items: center;
}

.container__title {
    color: black;
    font-size: 40px;
    padding-left: 30px;
}

.header-user__icon {
    width: 30px;
}

.container-column {
    display: flex;
    flex-direction: row;
    height: 760px;
}

.container-column__column-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.column-left__top {
    background-color: aliceblue;
    height: 350px;
    width: 760px;
    display: flex;
    border-radius: 20px;
    margin: 10px;
}

.column-left__bottom {
    background-color: aliceblue;
    height: 350px;
    width: 760px; 
    display: flex;
    border-radius: 20px;
    margin: 10px;
}

.container-column__column-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.column-right--top {
    background-color: aliceblue;
    height: 200px;
    width: 780px;
    display: flex;
    border-radius: 20px;
    margin: 10px;
}

.column-right--middle {
    display: flex;
    background-color: aliceblue;
    height: 370px;
    width: 780px;
    border-radius: 20px;
    margin: 10px;
}

.column-right--bottom {
    display: flex;
    background-color: aliceblue;
    height: 100px;
    width: 780px;
    border-radius: 20px;
    margin: 10px;
}

@keyframes show-elements {
    0%{
       width: 100px;
    }
    100% {
        width: 320px;
    }
}

@keyframes appear {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        display: none;
        width: 0;
    }
}

.sidebar:hover {
    animation: show-elements 0.5s reverse  forwards ;
}

 .sidebar:hover > .sidebar-big > .sidebar-dashboard {
    animation: appear 0.5s forwards ;
}

.sidebar:hover >  .sidebar-big > .sidebar-messages {
    animation: appear 0.5s forwards;
}

.sidebar:hover > .sidebar-small > .sidebar-small-container > .your {
    animation: appear 0.5s forwards;
 }

 @media only screen and (max-width:760px) {

    .page {
        flex-direction: column; 
    }

    .page__menu {
        flex-direction: row; height: 60px; width: 100vw;
    }

    .page__content {
        width: 100vw;
    }

    .header__title { 
        display: none;
    }

    .header-left {
        flex-direction: row; border-top-left-radius: 0px; width: 100px;
    }

    .navigation {
        flex-direction: row; border-bottom-left-radius: 0px; justify-content: flex-start; 
    }

    .navigation__item {
        padding: 0;
        transform: scale(0.7);
    }

    .navigation__messages {
        padding: 0;
        transform: scale(0.7);
    }

    .header-user {
        transform: scale(0.9);
    }

    .header-right {
        border-top-right-radius: 0px;  
    }

    .container {
        border-bottom-right-radius: 0px;
    }

    .container-column {
        flex-direction: column;
    }

    .container-column__column-left { 
        align-items: center;
    }

    .container-column__column-right { 
        align-items: center;
    }

    .column-left__top { 
        width: 300px;height: 150px;
    }

    .column-left__bottom { 
        width: 300px;height: 150px;
    }

    .column-right--top { 
        width: 300px;height: 100px;
    }

    .column-right--middle { 
        width: 300px;height: 100px;
    }

    .column-right--bottom { 
        width: 300px;height: 100px;
    }
    
 }